#ques1
"""
data encoding:data encoding is technique used to convert one form of data in other form.It helps in security also.
It is used in data science to convert categorical data into numerical data because most of machine learning algorithms works on numerical data.
"""

#ques2
"""
NOminal encoding: It is a techniques used to transform the categorical variable having no intrinsic ordering into numerical variable
that can we used in machine learning models.One common methode for nominal encoding is one hot encoding which creats a binary vector for each category in the variable.

example: suppose we have a column containing names of cities having unique city three in the dataset then we can use the OHE(one hot encoding) which create binary vector for the all threee unique city.
like:         delhi---punjab---haryana
      delhi::   1       0        0
      punjab::  0       1        0
      haryana:: 0       0        1
"""

#ques3
"""
OHE(one hot encoding)is useful when the unique categories in the features is lower.If we use OHE in case of large unique categories
it will create sparse matrix.
"""

#ques4
"""
i would use OHE because there is 5 unique values present which is not too much high so it will not create sparse matrix.
"""

#ques5

"""
if two column having categorical value and we apply nominal encoding then new column generated are 
unique_value in categorical col1 + unique_value in categorical col2
"""

In [ ]:
#ques6
"""

"""

In [3]:
#ques7

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [19]:
data= pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [20]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [21]:
data['encoded_gender'] = encoder.fit_transform(data['gender'])

In [22]:
data['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [27]:
#only three unque value is there so we can apply OHE

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
ohe.fit_transform(data[['Contract']])

<7043x3 sparse matrix of type '<class 'numpy.float64'>'
	with 7043 stored elements in Compressed Sparse Row format>

In [25]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,encoded_gender
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,1
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,1
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0